<!DOCTYPE html>
<html lang="ko">
<head>
  <th:block th:include="basic :: head"></th:block>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>게시글 쓰기</h1>
    </div>
    <form method="post" action="/post/">
      <table class="table">
        <tr>
          <th style="padding: 13px 0 0 15px;">카테고리</th>
          <td>
            <select class="custom-select form-control" name="category">
              <option th:each="category : ${categories}" th:value="${category}" th:text="${category}"></option>
            </select>
          </td>
        </tr>
        <tr>
          <th style="padding: 13px 0 0 15px;">제목</th>
          <td>
            <input type="text" class="form-control" name="title" maxlength="255"/>
          </td>
        </tr>
        <tr>
          <th style="padding: 13px 0 0 15px;">내용</th>
          <td>
            <textarea class="form-control" style="min-height: 60vh; max-height: 60vh;" name="content"></textarea>
          </td>
        </tr>
      </table>
      <button type="submit" class="btn-lg">쓰기</button>
    </form>
  </div>
</body>

</html>