<!DOCTYPE html>
<html lang="ko">
<head>
  <th:block th:include="basic :: head"></th:block>
  <link href="/css/layout.min.css" rel="stylesheet">
</head>
<body id="page-top">
  <th:block th:include="basic :: nav"></th:block>
  <div class="container-fluid p-0">
    <section class="post-section p-3 p-lg-5 d-flex flex-column" id="experience" >
      <a th:each="post : ${posts}" th:href="@{'/post/' + ${post.id}}">
        <div th:id="|post-*{post.id}|" th:inline="text">
          <small class="mb-0">[[${post.category}]]</small>
          <h3 class="mb-5">[[${post.title}]]</h3>
          <div class="post-item d-flex flex-column flex-md-row mb-5">
            <div class="post-content mr-auto">
              <p th:if="${#strings.length(post.content)} > 500">[[${#strings.substring(post.content,0,500)}]]...</p>
              <p th:unless="${#strings.length(post.content)} > 500">[[${post.content}]]</p>
            </div>
            <div class="post-date text-md-right">
              <span class="text-primary">[[${#temporals.format(post.createAt, 'yyyy-MM-dd')}]]</span>
            </div>
          </div>
        </div>
        <hr class="mb-5">
      </a>
    </section>
    <nav aria-label="page nav">
      <th:block th:if="${pages - page} >= 4">
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${page <= 1} ? 'disabled' : ''">
            <a class="page-link" th:href="${page <= 1} ? '#' : @{'?page='+ ${page - 1}}" th:tabindex="${page <= 1} ? '-1' : '1'">prev</a>
          </li>
          <li class="page-item" th:each="i : ${#numbers.sequence(0, 4)}" th:classappend="${i == 0} ? 'active' : ''">
            <a class="page-link" th:href="@{'?page='+${page+i}}" th:text="${page+i}"></a>
          </li>
          <li class="page-item">
            <a class="page-link" th:href="${page > pages} ? '#' : @{'?page='+ ${page + 1}}" th:classappend="${page > pages} ? 'disabled' : ''">next</a>
          </li>
        </ul>
      </th:block>
      <th:block th:unless="${pages - page} >= 4">
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${page <= 1} ? 'disabled' : ''">
            <a class="page-link" th:href="${page <= 1} ? '#' : @{'?page='+ ${page - 1}}" th:tabindex="${page <= 1} ? '-1' : '1'">prev</a>
          </li>
          <li class="page-item" th:each="i : ${#numbers.sequence(0, {pages - page + 1})}" th:classappend="${i == 0} ? 'active' : ''">
            <a class="page-link" th:href="@{'?page='+${page+i}}" th:text="${page+i}"></a>
          </li>
          <li class="page-item" th:classappend="${page > pages} ? 'disabled' : ''">
            <a class="page-link" th:href="${page > pages} ? '#' : @{'?page='+ ${page + 1}}" th:tabindex="${page > pages} ? '-1' : '1'">next</a>
          </li>
        </ul>
      </th:block>
    </nav>
  </div>
  <th:block th:include="basic :: scripts"></th:block>
</body>
</html>
