<!DOCTYPE html>
<html lang="ko">
<head>
  <th:block th:include="basic :: head(title=${post.title})"></th:block>
  <link href="/css/layout.min.css" rel="stylesheet">
  <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">
</head>
<body id="page-top">
  <th:block th:include="basic :: nav"></th:block>
    <div class="container-fluid p-3 p-lg-5">
      <div class="p-3 p-lg-5 d-flex flex-column">
      <header class="post-header">
        <h3 class="mb-5" th:text="${post.title}"></h3>
        <small>[[${#temporals.format(post.createAt, 'yyyy-MM-dd')}]]</small>
        <button type="button" class="btn-danger btn-post-delete" th:onclick="'delete_post(' + ${post.id} + ');'">삭제</button>
        <hr class="mb-5"/>
      </header>
      <section class="post-content">
        <div th:utext="${post.content}"></div>
      </section>
    </div>
  </div>
  <th:block th:include="basic :: scripts"></th:block>
  <script src="/js/listener.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
